<% productos.forEach(producto => { %>
    <div class="producto" data-id=<%= producto.idproductos %> data-marca=<%= producto.marca %> data-modelo=<%= producto.modelo %> data-imagen=<%= producto.imagen %> data-precio=<%= producto.precio %> data-tipo=<%= producto.tipo %> data-estado=<%= producto.estado %> data-descripcion=<%= producto.descripcion %>>
        <div class="opciones">
            <button class="BtnAgregarCarrito">Añadir al carrito</button> 
        </div>
        <img class="img-producto" src="../../back/public/images/productos/<%= producto.imagen %>" alt="producto">
        <p><%= producto.marca %> <%= producto.modelo %></p>
        <div class="precio">
            <p>$<%= producto.precio %></p>
        </div>
    </div>
<% }) %>